<mat-toolbar color="primary" >
  <span>Outils</span>

  <span class="move-right">

  <span>
    <mat-form-field >
      <mat-select 
      placeholder="" 
      [formControl]="column" 
      [(ngModel)]="selectedValue" 
      [(value)]="selectedOptions"
      (selectionChange)="changeView($event)"
      multiple>
        <mat-option *ngFor="let column of helper.getOptionalColumns()" [value]="column.value"  > {{ column.title }} </mat-option>
      </mat-select>
    </mat-form-field>

    <button type="button" class="btn btn-danger" [disabled]="hasNoneChecked()" (click)="deleteMultipleTwo()">
      <i class="fa fa-trash"></i>
    </button>
  </span>
  </span>

</mat-toolbar>

<div id="view-todos" class="row">



  <mat-table #todos [dataSource]="dataSource" matSort>

    <!--Titre-->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>{{helper.getColumn('title').title}}</mat-header-cell>
      <mat-cell *matCellDef="let todo">{{todo.title}}</mat-cell>
    </ng-container>

    <!--Date de debut-->
    <ng-container matColumnDef="debut">
        <mat-header-cell *matHeaderCellDef>{{helper.getColumn('debut').title}}</mat-header-cell>
        <mat-cell *matCellDef="let todo">{{todo.debut}}</mat-cell>
      </ng-container>

    <!--Date de fin-->
    <ng-container matColumnDef="fin">
        <mat-header-cell *matHeaderCellDef>{{helper.getColumn('fin').title}}</mat-header-cell>
        <mat-cell *matCellDef="let todo">{{todo.fin}}</mat-cell>
      </ng-container>

    <!--Modif d'un todo-->
    <ng-container matColumnDef="update">
      <mat-header-cell *matHeaderCellDef>{{helper.getColumn('update').title}}</mat-header-cell>
      <mat-cell *matCellDef="let todo">
        <button mat-mini-fab color="accent" (click)="update(todo)">
          <mat-icon aria-label="modifier le todo">
            create
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!--supression d'un todo-->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>{{helper.getColumn('delete').title}}</mat-header-cell>
      <mat-cell *matCellDef="let todo">
        <button mat-mini-fab color="accent" (click)="delete(todo)">
          <mat-icon aria-label="supprimer le todo">
            delete
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="helper.getDisplayColumns()"></mat-header-row>
    <mat-row *matRowDef="let row; columns: helper.getDisplayColumns();"></mat-row>

  </mat-table>
  <!--
  <table [hidden]="todos.length==0"  >
    <thead>
      <tr>
        <td><input  id="selectall" (click)="checkUncheckall()" type="checkbox"></td>
        <td>A faire...</td>
        <td id="textedebut">Debut</td>
        <td id="textefin">Fin</td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let todo of todos; let i = index">
        <td id="checkbox">
          <input type="checkbox" (click)="toggle(i)" [checked]="todo.isChecked">
        </td>
        <td id="content" (click)="update(todo)" [ngClass]="{strikeOut: todo.isChecked}">{{todo.title}}</td>
        <td id="debut" [ngClass]="{strikeOut: todo.isChecked}"  >{{todo.debut | date:'dd-MM-yyyy'}}</td>
        <td id="fin" [ngClass]="{strikeOut: todo.isChecked}">{{todo.fin | date:'dd-MM-yyyy'}}</td>
        <td>
          <button id="X" type="button" (click)="delete(i)">X</button>
        </td>
      </tr>
      <tr>
        <button id="suppremultiple" type="button" (click)="deleteMultipleTwo()">Supprimer</button>
      </tr>
    </tbody>
  </table>
  -->
</div>